@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
/* Colour Palette Variables*/
/* Typography Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(214, 17%, 92%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.6rem + 0.5vw, 1rem);
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.author-credential {
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  margin: 3rem 2rem;
  row-gap: 2.5rem;
}
.grid #daniel-clifford {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  position: relative;
}
.grid #daniel-clifford > * {
  position: relative;
  z-index: 2;
}
.grid #daniel-clifford .author-credential {
  opacity: 1;
}
.grid #daniel-clifford blockquote {
  color: hsl(0, 0%, 100%);
}
.grid #jonathan-walters {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}
.grid #patrick-abrams {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
}
.grid #patrick-abrams .author figcaption {
  color: hsl(0, 0%, 100%);
}
.grid #kira-whittle,
.grid #jeanette-harmon {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
.grid #kira-whittle blockquote,
.grid #jeanette-harmon blockquote {
  color: hsl(217, 19%, 35%);
}

.author-name {
  font-size: 0.875rem;
}

.testimonial {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 20px 20px 40px -15px hsla(217, 19%, 35%, 0.25);
}

.author {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1.25rem;
  margin-bottom: 1rem;
}

blockquote {
  line-height: 150%;
  color: hsl(214, 17%, 92%);
  font-size: 1rem;
}

.profile-img {
  grid-row: 1/3;
  border-radius: 50%;
  width: 2.46rem;
  height: 2.46rem;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}

.attribution a:focus-visible {
  outline: 2px dashed hsl(228, 45%, 44%);
  outline-offset: 2px;
}

.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 69.375rem;
    gap: 2rem;
  }
  .grid #daniel-clifford {
    grid-column: 1/3;
  }
  .grid #daniel-clifford::before {
    content: "";
    position: absolute;
    top: 0;
    right: 5rem;
    width: 6.5rem;
    height: 6.375rem;
    background-color: hsl(264, 82%, 80%);
    mask: url("../images/bg-pattern-quotation.svg") no-repeat right top/contain;
    z-index: 1;
  }
  .grid #jonathan-walters {
    grid-column: 3/4;
  }
  .grid #jeanette-harmon {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid #patrick-abrams {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .grid #kira-whittle {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}

/*# sourceMappingURL=main.css.map */
