@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* Colour Palette Variables*/
$link-color: hsl(228, 45%, 44%);
$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);

$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);
$box-shadow: hsla(217, 19%, 35%, 0.25);

/* Typography Variables */
$font-stack: "Barlow Semi Condensed", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $grey-100;
  font-family: $font-stack;
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.6rem + 0.5vw, 1rem);
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  margin: 3rem 2rem;
  row-gap: 2.5rem;

  #daniel-clifford {
    background-color: $purple-500;
    color: $white;
    position: relative;

    > * {
      position: relative;
      z-index: 2;
    }

    .author-credential {
      opacity: 1;
    }

    blockquote {
      color: $white;
    }
  }

  #jonathan-walters {
    background-color: $grey-500;
    color: $white;
  }

  #patrick-abrams {
    background-color: $dark-blue;
    color: $grey-200;

    .author figcaption {
      color: $white;
    }
  }

  #kira-whittle,
  #jeanette-harmon {
    background-color: $white;
    color: $grey-500;

    blockquote {
      color: $grey-500;
    }
  }
}

.author-name {
  font-size: 0.875rem;
}

.author-credential {
  opacity: 0.7;
}

.testimonial {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 20px 20px 40px -15px $box-shadow;
}

.author {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1.25rem;
  margin-bottom: 1rem;
}

blockquote {
  line-height: 150%;
  color: $grey-100;
  font-size: 1rem;
}

.profile-img {
  grid-row: 1 / 3;
  border-radius: 50%;
  width: 2.46rem;
  height: 2.46rem;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  &:focus-visible {
    outline: 2px dashed $link-color;
    outline-offset: 2px;
  }
}

.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin: 5rem;

    #daniel-clifford {
      grid-column: 1 / 3;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 10%;
        width: 8rem;
        height: 7.85rem;
        background-color: $purple-300;
        mask: url("../images/bg-pattern-quotation.svg") no-repeat;
        z-index: 1;
      }
    }

    #jonathan-walters {
      grid-column: 3 / 4;
    }

    #jeanette-harmon {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    #patrick-abrams {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    #kira-whittle {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
    }
  }
}
